body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d4c;
}

header {
    position: relative;
    background-color: #11111F;
    color: #fff;
}

header img{
    max-width: 100%;
    display: block;
}

nav {
    background-color: #11111F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
}

section {
    padding: 30px;
    color: #fff;
}

.menu-item {
    color: black;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #11111F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

button{
    background-color: #11111F;
    color: #fff;
    padding: 10px;
}

@media screen and (min-width: 320px ) and (min-height: 480px) {
    body{
        background-color:#11111F
    }
    header img{
        margin-top: 100px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
    
}

@media screen and (min-width: 375px ) and (min-height: 812px) {
    header img{
        margin-top: 250px;
        margin-bottom: 100px;
    }
    nav{
        margin-bottom: 20px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
    
}

@media screen and (min-width: 411px ) and (min-height: 731px) {
    header img{
        margin-top: 150px;
        margin-bottom: 100px;
    }
    nav{
        margin-bottom: 20px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
    
}

@media screen and (min-width: 768px ) and (min-height: 1024px) {
    header img{
        margin-top: 200px;
        margin-bottom: 100px;
    }
    nav a {
        font-size: 30px;
        display: block;
        margin: 10px 0;
    }
    
}

@media screen and (min-width: 1440px ) and (min-height: 900px) {
    header img{
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    nav{
        justify-content: center;
        display: flex;
        margin: 20px;
    }
    nav a {
        font-size: 30px;
        display: block;
        margin: 10px 0;
    }
    #menus{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .menu-item{
        padding: 10px;
    }
    
}